#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export WITH_DYNAMIC_LIBS = 1

%:
	dh $@

#Building manpages
override_dh_installman:
	ronn -r $(CURDIR)/debian/libecc.3.ronn
	dh_installman

